@import './Default.scss';

div.Card_container {
    @include absolute-center();
    position: relative;
    flex-direction: column;
    width: 37%;
    height: 50rem;
    background-color: $bg-color2;
    color: antiquewhite;
    border-radius: 3rem;
    box-shadow: $Shadow2;
    font-family: $default-font;

    .input_new {
        all: unset;
        border-bottom: solid #FF8F8F 0.15rem;
        font-size: 1.4rem;

        &::placeholder {
            color: $font-color;
        }
    }
    .btn_new {
        cursor: pointer;
        background-color: $bg-color3;
        box-shadow: $Shadow1;
        font-size: 1.4rem;
        border-radius: 3rem;
        padding: 1rem 8rem;
        transition: 0.4s;
    }

    .btn_new:hover {
        transition: 0.4s;
        scale: 110%;
    }

    .itens_new {
        margin: 3rem;
    }
}