@import './Default.scss';

div.Card_container_Login {
    @include absolute-center();
    position: relative;
    flex-direction: column;
    width: 37%;
    height: 48rem;
    background-color: $bg-color3;
    color: antiquewhite;
    border-radius: 3rem;
    box-shadow: $Shadow1;
    font-family: $default-font;

    .input_login {
        all: unset;
        border-bottom: solid #483F68 0.15rem;
        font-size: 1.4rem;

        &::placeholder {
            color: $font-color;
        }
    }
    .btn_login {
        cursor: pointer;
        background-color: #624F88;
        box-shadow: $Shadow2;
        font-size: 1.4rem;
        border-radius: 3rem;
        padding: 1rem 8rem;
        transition: 0.4s;
    }

    .btn_login:hover {
        transition: 0.4s;
        scale: 110%;
    }

    .itens_login {
        margin: 3rem;
    }

    .forgot_password {
        cursor: pointer;
        // &:hover{
        //     box-shadow: $Shadow2;
        // }
    }
}