div.Card_container{
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 708px;
    background-color: #FF8F8F;
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    box-shadow:  #FF8F8F;
}


h1.tituloCard{
    color: black;
}