@mixin absolute-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin default_background($img-background){
    background-image: url($img-background);
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}