//Default Fonts
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
$default-font:  'Coiny', sans-serif;
// Default Positions
@mixin absolute-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin default_background($img-background){
    background-image: url($img-background);
    background-position: absolute;
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 100vh;
    width: 100%;
}

//Defaults Colors
$font-color: #FFECD6;
$bg-color1: #8C79B2;
$bg-color2: #483F68;
$bg-color3: #FF8F8F;
$icons-bg: #FFECD6;

//Shadows
$Shadow1: #FF6A6A 0px 1px 20px, #FF6A6A 0px 0px 56px, #FF6A6A 0px 0px 0px;
$Shadow2: #624F88 0px 1px 20px, #624F88 0px 0px 56px, #624F88 0px 0px 0px;