@media (max-width:799px){
    main.New_account{
        background-image: url("../img/BackgroundMobile_Login.svg");
        background-position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    };
}

@media (min-width:800px) and (max-width:1200px){
    main.New_account {
        background-image: url("../img/BackgroundLogin_Mobile800px.svg");
        height: 100vh;
        background-position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
};
}

@media (min-width:1201px) and (max-width:1900px){
    main.New_account {
        background-image: url("../img/Background-NewAcount.svg");
        min-height: 100vh;
        background-position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
};
}


