@import './Default.scss';

@media (max-width:799px) {
    body.Body_Login {
        @include default_background("../img/BackgroundMobile_Login.svg");

        main.New_account {
            @include absolute-center();
        }

        ;
    }
}

@media (min-width:800px) and (max-width:1200px) {
    main.New_account {
        @include default_background("../img/BackgroundLogin_Mobile800px.svg");
        @include absolute-center();
    }

    ;
}

@media (min-width:1201px) and (max-width:1900px) {
    body.Body_Login {
        @include default_background("../img/Background-NewAcount.svg");
        header.Button_Account {
            display: flex;
            justify-content: flex-end;
            padding: 2rem;
            .new_button {
                cursor: pointer;
                background-color: $bg-color3;
                font-family: $default-font;
                color: $font-color;
                box-shadow: $Shadow1;
                font-size: 1.2rem;
                border-radius: 3rem;
                padding: 1rem 5rem;
                transition: 0.4s;
                left: 0;
            }
        }

        main.New_account {
            @include absolute-center();
            flex-direction: column;
        }
    }
}