@import './Default.scss';

@media (max-width:799px) {
    body.Body_New {
        @include default_background("../img/BackgroundMobile_Login.svg");

        main.New_account {
            @include absolute-center();
        }

        ;
    }
}

@media (min-width:800px) and (max-width:1200px) {
    main.New_account {
        @include default_background("../img/BackgroundLogin_Mobile800px.svg");
        @include absolute-center();
    }

    ;
}

@media (min-width:1201px) and (max-width:3900px) {
    body.Body_New {
        @include default_background("../img/Background-NewAccount.svg");

        header.Button_New {
            display: flex;
            justify-content: center;
            padding: 2rem;

            .new_button {
                cursor: pointer;
                background-color: $bg-color2;
                font-family: $default-font;
                color: $font-color;
                box-shadow: $Shadow2;
                font-size: 1.2rem;
                border-radius: 3rem;
                padding: 1rem 5rem;
                transition: 0.4s;
                position: absolute;
                right: 3%;
                &:hover {
                    scale: 106%
                }
            }
        }

        main.New_account {
            @include absolute-center();
            flex-direction: column;

            .forgot_password {
                position: absolute;
                bottom: 0%;
                margin: 2rem;
            }

            .prato_um {
                position: absolute;
                z-index: 4;
                top: 2%;
                left: 25%;
            }

            .Card_Login {
                z-index: 3;
            }

            .prato_dois {
                position: absolute;
                z-index: 4;
                bottom: 2%;
                right: 24%;
            }
        }
    }
}